.carousel{
    background: #feeae9;
}
button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
}
.price{
    color: #FF136F;
}
.watch{
    background: #ffa501;
}
.bag{
    background: #da70d6;
}
.shoes{
    background: #0000ff;
}
.category .col-md-3{
    border-radius: 10px;
}